body {
    background-color: #8197e5;
    font-family: 'Arial', sans-serif;
}

.container {
    margin-top: 50px;
}

h1 {
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header1 {
    background-color: #5714bb;
    color: white;
    font-weight: bold;
    text-align: center;
}

.card-header2 {
    background-color: #aa1919;
    color: white;
    font-weight: bold;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 0;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #20646b;
    border-color: #543aff;
    border-radius: 0;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 0;
}

.table-container {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table thead th {
    background-color: #9ed7e9;
    text-align: center;
    vertical-align: middle;
}

.table tbody td {
    text-align: center;
    vertical-align: middle;
}

.btn {
    margin-right: 10px;
}

.btn:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .container {
        margin-top: 20px;
    }

    .card {
        margin-bottom: 15px;
    }

    .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .btn:last-child {
        margin-bottom: 0;
    }

    .table-container {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
}